# Project Overview: Analyzing Insurance Claim Data

### Introduction

The insurance industry serves as a crucial financial safety net, protecting individuals and businesses from unforeseen losses. However, this industry faces persistent challenges, including fraud, unpredictable risks, and the evolving expectations of modern customers. In this context, data analysis becomes a powerful tool for transforming raw insurance data into actionable insights that drive efficiency, transparency, and customer satisfaction.

With millions of policies issued and claims processed annually, insurers are sitting on vast amounts of data that, when analyzed effectively, can unlock new avenues for growth and innovation. By leveraging this data, insurance companies can improve risk assessment, identify fraudulent claims, optimize their pricing strategies, and enhance the overall customer experience

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
data=pd.read_excel("insurance_claims_raw (1).xlsx")

In [12]:
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48.0,521585,2014-10-17,OH,250/500,1000.0,1406.91,0,466132,...,YES,71610.0,6510.0,13020.0,52080,Saab,92x,2004,Y,NaN
1,228,42.0,342868,2006-06-27,IN,250/500,2000.0,1197.22,5000000,468176,...,?,5070.0,780.0,780.0,3510,Mercedes,E400,2007,Y,NaN
2,134,29.0,687698,2000-09-06,OH,100/300,2000.0,1413.14,5000000,430632,...,NO,34650.0,7700.0,3850.0,23100,Dodge,RAM,2007,N,NaN
3,256,41.0,227811,1990-05-25,IL,250/500,2000.0,1415.74,6000000,608117,...,NO,63400.0,6340.0,6340.0,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44.0,367455,2014-06-06,IL,500/1000,1000.0,1583.91,6000000,610706,...,NO,6500.0,1300.0,650.0,4550,Accura,RSX,2009,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38.0,941851,1991-07-16,OH,500/1000,1000.0,1310.80,0,431289,...,?,87200.0,17440.0,8720.0,61040,Honda,Accord,2006,N,NaN
996,285,41.0,186934,2014-01-05,IL,100/300,1000.0,1436.79,0,608177,...,?,108480.0,18080.0,18080.0,72320,Volkswagen,Passat,2015,N,NaN
997,130,34.0,918516,2003-02-17,OH,250/500,500.0,1383.49,3000000,442797,...,YES,67500.0,7500.0,7500.0,52500,Suburu,Impreza,1996,N,NaN
998,458,62.0,533940,2011-11-18,IL,500/1000,2000.0,1356.92,5000000,441714,...,YES,46980.0,5220.0,5220.0,36540,Audi,A5,1998,N,NaN
999,456,60.0,556080,1996-11-11,OH,250/500,1000.0,766.19,0,612260,...,?,5060.0,460.0,920.0,3680,Mercedes,E400,2007,N,NaN